Extract text data using any textual / csv data_file

In [2]:
import pandas as pd

In [3]:
csv_file = R'data file\test.csv'
df  = pd.read_csv(csv_file, index_col=False)

In [4]:
df.head()

,count,no_idea,Unnamed: 2
0,2,Great CD,My lovely Pat has one of the GREAT voices of h...
1,2,One of the best game music soundtracks - for a...,Despite the fact that I have only played a sma...
2,1,Batteries died within a year ...,I bought this charger in Jul 2003 and it worke...
3,2,"works fine, but Maha Energy is better",Check out Maha Energy's website. Their Powerex...
4,2,Great for the non-audiophile,Reviewed quite a bit of the combo players and ...

In [5]:
data = pd.DataFrame(df)

In [6]:
df.columns = ["count","name","content"]

In [7]:
df.head()

,count,name,content
0,2,Great CD,My lovely Pat has one of the GREAT voices of h...
1,2,One of the best game music soundtracks - for a...,Despite the fact that I have only played a sma...
2,1,Batteries died within a year ...,I bought this charger in Jul 2003 and it worke...
3,2,"works fine, but Maha Energy is better",Check out Maha Energy's website. Their Powerex...
4,2,Great for the non-audiophile,Reviewed quite a bit of the combo players and ...

In [18]:
dfContent = df['content']
dfContent

0         My lovely Pat has one of the GREAT voices of h...
1         Despite the fact that I have only played a sma...
2         I bought this charger in Jul 2003 and it worke...
3         Check out Maha Energy's website. Their Powerex...
4         Reviewed quite a bit of the combo players and ...
                                ...
399995    We bought this Thomas for our son who is a hug...
399996    My son recieved this as a birthday gift 2 mont...
399997    I bought this toy for my son who loves the "Th...
399998    This is a compilation of a wide range of Mitfo...
399999    This DVD will be a disappointment if you get i...
Name: content, Length: 400000, dtype: object

In [29]:
dfContent.to_csv("dfContent.csv", index=False)

In [30]:
csv_file = pd.read_csv("dfContent.csv")

In [47]:
try:
    with open("dfContent.csv",'r+', errors="ignore") as f_in, open('content_to_text.txt', 'w+') as f_out:
        content = f_in.read()
        f_out.write(content)
except Exception as e:
    print('Error:', e)

In [28]:
with open("dfContent.txt", "w") as file:
    file.write(dfContent.to_string())

In [49]:
old_string = r'"'
new_string = ''

with open("content_to_text.txt", "r+") as f_read:
    content = f_read.read()
    content = content.replace(old_string, new_string)
    
with open(r"sample.txt", "w") as f_write:
    f_write.write(content)